<header class="page-header container">
  <div class="nav">
    <div class="nav__img">
      <img
        class="logo"
        src="../../test_buy_subscription/src/images/logo.png"
        alt=""
      />
    </div>
    <div>
      <div class="list__nav-message">
        <a class="link__nav-message" href="#">Сообщения</a>
        <p class="nav__message-number">3</p>
      </div>
    </div>
    <div class="nav__list-menu">
      <ul>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Профиль</a>
        </li>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Настройки</a>
        </li>
      </ul>
    </div>
    <div class="nav__list-menu">
      <ul>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Вопросы</a>
        </li>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Написать модератору</a>
        </li>
      </ul>
    </div>
    <button type="button" class="nav__button">Купить подписку</button>
  </div>
  <div>
    <div>
      <div>
        <ul>
          <li><button type="button">Удалить</button></li>
          <li><button type="button">Добавить в архив</button></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><button type="button">Непрочитанные</button></li>
          <li><button type="button">Архив</button></li>
        </ul>
      </div>
      <button type="button">Искать →</button>
    </div>
    <div>
      <ul>
        <li>
          <input id="" type="checkbox" />
          <p>здравствуйте. как долго придется ждать нож кото</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
        <li>
          <input id="" type="checkbox" />
          <p>а почему на ноже нет ни одной царапины?</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
        <li>
          <input id="" type="checkbox" />
          <p>нет, мне не нужно. если и вам тоже пофиг, то выб</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
        <li>
          <input id="" type="checkbox" />
          <p>нет, мне не нужно. если и вам тоже пофиг, то выб</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
        <li>
          <input id="" type="checkbox" />
          <p>здравствуйте. как долго придется ждать нож кото</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
        <li>
          <input id="" type="checkbox" />
          <p>а почему на ноже нет ни одной царапины?</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
        <li>
          <input id="" type="checkbox" />
          <p>нет, мне не нужно. если и вам тоже пофиг, то выб</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
        <li>
          <input id="" type="checkbox" />
          <p>thank you! that’s great!</p>
          <p>13/04/2018</p>
          <p>14:02</p>
        </li>
      </ul>
    </div>
  </div>
</header>
