<header class="page-header container">
  <div class="nav">
    <div class="nav__img">
      <svg class="nav-img__svg-check-gren">
        <use href="./images/symbol-defs.svg#icon-check-gren"></use>
      </svg>
      <img class="logo" src="../../test_buy_subscription/src/images/logo.png" alt="" />
    </div>
    <div>
      <div class="list__nav-message">
        <a class="link__nav-message" href="#">Сообщения</a>
        <p class="nav__message-number">3</p>
      </div>
    </div>
    <div class="nav__list-menu">
      <ul>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Профиль</a>
        </li>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Настройки</a>
        </li>
      </ul>
    </div>
    <div class="nav__list-menu">
      <ul>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Вопросы</a>
        </li>
        <li class="nav__iten-menu">
          <a class="nav__link-menu" href="#">Написать модератору</a>
        </li>
      </ul>
    </div>
    <button type="button" class="nav__button">Купить подписку</button>
  </div>

  <div>
    <!--  -->
    <table>
      <tr class="nav__list-container-item">
        <th>
          <button class="list__button-delete" type="button">Удалить</button>
          <button class="list__button-add-arhiv" type="button">Добавить в архив</button>
        </th>
        <th>
          <button class="list__button-unread" type="button">Непрочитанные</button>
          <button class="list__button-arhiv" type="button">Архив</button>
        </th>
        <th>
          <button class="list__button-search" type="button">Искать →</button>
        </th>
      </tr>
      <!--  -->
      <tr class="item__text-container">
        <td>
          <div><input id="" type="checkbox" /></div>
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
        </td>
        <td class="item__text-name">
          Александр Анто…
          <svg class="item__svg-basket">
            <use href="./images/symbol-defs.svg#icon-basket"></use>
          </svg>
        </td>
        <td class="table__container-line">
          <p class="item__text">здравствуйте. как долго придется ждать нож кото</p>
        </td>
        <td class="item__text"><p>13/04/2018</p></td>
        <td class="item__text"><p>14:02</p></td>
      </tr>
      <tr class="item__text-container">
        <td>
          <input id="" type="checkbox" />
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
          <svg class="item__svg-icon-dot">
            <use href="./images/symbol-defs.svg#icon-dot"></use>
          </svg>
        </td>
        <td class="item__text-name">Gun Machine</td>
        <td class="table__container-line">
          <p class="item__text">а почему на ноже нет ни одной царапины?</p>
        </td>
        <td class="item__text"><p>01/12/2018</p></td>
        <td class="item__text"><p>00:14</p></td>
      </tr>
      <tr class="item__text-container">
        <td>
          <input id="" type="checkbox" />
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
        </td>
        <td class="item__text-name">Диана Павлова</td>
        <td class="table__container-line">
          <p class="item__text">нет, мне не нужно. если и вам тоже пофиг, то выб</p>
        </td>
        <td class="item__text"><p>13/04/2018</p></td>
        <td class="item__text"><p>14:02</p></td>
      </tr>
      <tr class="item__text-container">
        <td>
          <input id="" type="checkbox" />
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
          <svg class="item__svg-icon-dot">
            <use href="./images/symbol-defs.svg#icon-dot"></use>
          </svg>
        </td>
        <td class="item__text-name">Otto Zweig</td>
        <td class="table__container-line">
          <p class="item__text">thank you! that’s great!</p>
        </td>
        <td class="item__text"><p>01/12/2018</p></td>
        <td class="item__text"><p>00:14</p></td>
      </tr>
      <tr class="item__text-container">
        <td>
          <input id="" type="checkbox" />
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
        </td>
        <td class="item__text-name">
          Александр Анто…
          <svg class="item__svg-basket">
            <use href="./images/symbol-defs.svg#icon-basket"></use>
          </svg>
        </td>
        <td class="table__container-line">
          <p class="item__text">здравствуйте. как долго придется ждать нож кото</p>
        </td>
        <td class="item__text"><p>13/04/2018</p></td>
        <td class="item__text"><p>14:02</p></td>
      </tr>
      <tr class="item__text-container">
        <td>
          <input id="" type="checkbox" />
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
          <svg class="item__svg-icon-dot">
            <use href="./images/symbol-defs.svg#icon-dot"></use>
          </svg>
        </td>
        <td class="item__text-name">Gun Machine</td>
        <td class="table__container-line">
          <p class="item__text">а почему на ноже нет ни одной царапины?</p>
        </td>
        <td class="item__text"><p>01/12/2018</p></td>
        <td class="item__text"><p>00:14</p></td>
      </tr>
      <tr class="item__text-container">
        <td>
          <input id="" type="checkbox" />
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
        </td>
        <td class="item__text-name">Диана Павлова</td>
        <td class="table__container-line">
          <p class="item__text">нет, мне не нужно. если и вам тоже пофиг, то выб</p>
        </td>
        <td class="item__text"><p>13/04/2018</p></td>
        <td class="item__text"><p>14:02</p></td>
      </tr>
      <tr class="item__text-container">
        <td>
          <input id="" type="checkbox" />
        </td>
        <td class="item__container-svg">
          <svg class="item__svg-people">
            <use href="./images/symbol-defs.svg#icon-people"></use>
          </svg>
          <svg class="item__svg-icon-dot">
            <use href="./images/symbol-defs.svg#icon-dot"></use>
          </svg>
        </td>
        <td class="item__text-name">Otto Zweig</td>
        <td class="table__container-line item__text">
          <p class="item__text">thank you! that’s great!</p>
        </td>
        <td class="item__text"><p>01/12/2018</p></td>
        <td class="item__text"><p>00:14</p></td>
      </tr>
    </table>
    <div>
      <ul class="number-nav__page-list">
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">1</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">2</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">3</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">4</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">5</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">6</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">7</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">8</a>
        </li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">9</a>
        </li>

        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">10</a>
        </li>
        <li class="number-nav__item-m"><a href="#">...</a></li>
        <li class="number-nav__item-h">
          <a class="number-nav__item-a" href="#">123</a>
        </li>
        <li class="number-nav__item-m">
          <a href="#">
            <div class="number-nav__container-svg">
              <svg class="item__svg-arrow">
                <use href="./images/symbol-defs.svg#icon-arrow"></use>
              </svg>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
