body{
  background-color: #151515;
}
.page-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav{
background-color: #1D1C1C;
}
.nav__img{
  position: relative;
  border: 1px solid;
  border-color: #DB9351;
}
.logo{
  width: 228px;
  height: 293px;
object-fit: cover;
}
.nav-img__svg-check-gren{
  position: absolute;
  top: 20px;
  left: 10px;
  width: 19px;
    height: 14px;
}
.list__nav-message{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
padding: 54px 30px;
border-bottom: 1px solid;
border-color: #242424;
}
.link__nav-message{
  color: #DB9351;
  margin-right: 59px;
}
.nav__message-number{
  color: #DB9351;
}

.nav__list-menu{
list-style: none;
padding: 55px 30px;
border-bottom: 1px solid;
border-color: #242424;
}
.nav__iten-menu{
  display: flex;
justify-content: left;
  margin-bottom: 27px;
}
.nav__iten-menu:last-child{
  margin-bottom: 0;
}
.nav__link-menu{
  color: #FFFFFF;
}
.nav__button{
  padding: 55px 50px;
  background-color: #DB9351;
  border: none;
  color: #FFFFFF;
}
//
.nav__list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.nav__list-container-item{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 14.5px;
}
.list__button-delete{
  color: #FF5B5C;
}
.list__button-add-arhiv{
color: #FFFFFF;
}
.list__button-unread{
  color: #DB9351;
}
.list__button-arhiv{
  color: #959595;
}
.list__button-search{
  color: #DB9351;
  border: 1px solid;
  border-color: #DB9351;
  padding: 5px 10px 5px 94px;
}
.item__text-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top:1px solid;
  border-bottom: 1px solid;
  border-color: #242424;
  color: #FFFFFF;
}
.item__text-container:hover,
.item__text-container:focus{
  border-color: #DB9351;
  cursor: pointer;
}
// svg
.item__container-svg{
  padding: 12px 14px;
  border-radius: 50%;
  background-color: #707070;
  margin-right: 16px;
  margin-left: 19px;
  position: relative;
}
.item__svg-people{
  width: 16px;
  height: 16px;
}
.item__svg-icon-dot{
  position: absolute;
  top: -10px;
  left: 25px;
  height: 25px;
  width: 25px;
}
.item__svg-basket{
  position: absolute;
  top: 4px;
  left: 144px;
  width: 16px;
  height: 16px;
}
.item__svg-arrow{
    position: absolute;
      top: 2px;
      left: 0px;
      width: 50px;
      height: 15px;
}
//
td{
  padding-right: 5px;
}
td:last-child {
  padding-right: 0;
}
.item__text-name{
  font-weight: 500;
    font-size: 1rem;
  width: 200px;
  position: relative;
text-decoration: underline;
}
.table__container-line{
  width: 392px;
  max-height: 100px;
    overflow: hidden;
    margin-top: -20px;
overflow: unset;
}

.table__container-line:before {
content: "";
    height: 20px;
    background-image: linear-gradient(to right, #4a414100, #1a1717 104%);
    display: block;
    position: relative;
    top: 20px;
    left: -40px;
}
.item__text{
  color: #959595;
}
.number-nav__page-list{
display: flex;
flex-wrap: wrap;
justify-content: flex-end;
margin-top: 50px;
}
.number-nav__item-a {
  padding: 16px;
  margin: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  max-width: 10px;
  max-height: 10px;
  font-size: 1rem;
}
.number-nav__item-a:hover,
.number-nav__item-a:focus{
  color: #DB9351;
  border: 2px solid;
    padding: 14px;
}
.number-nav__item-m{
  padding: 10px;
}
.number-nav__container-svg{
  position: relative;
  width: 60px;
}
